In [8]:
import pandas as pd
import numpy as np
%load_ext Cython

The Cython extension is already loaded. To reload it, use:
  %reload_ext Cython

In [11]:
df = pd.DataFrame(np.random.randn(5,5))

In [12]:
df.iloc[1,:]=np.nan
df

          0         1         2         3         4
0  1.202541 -1.099496  2.274810  0.227156 -0.000933
1       NaN       NaN       NaN       NaN       NaN
2  0.227215 -0.390182 -0.065140 -0.288781 -0.460230
3 -0.540178 -0.860417  1.378352  0.692341 -2.354102
4 -0.461702  1.553735 -1.653104  0.248596 -1.846768

In [16]:
np.sign(df)

     0    1    2    3    4
0  1.0 -1.0  1.0  1.0 -1.0
1  NaN  NaN  NaN  NaN  NaN
2  1.0 -1.0 -1.0 -1.0 -1.0
3 -1.0 -1.0  1.0  1.0 -1.0
4 -1.0  1.0 -1.0  1.0 -1.0

In [17]:
np.sign(df)*pow(abs(df),1.5)

          0         1         2         3         4
0  1.318711 -1.152897  3.430977  0.108265 -0.000029
1       NaN       NaN       NaN       NaN       NaN
2  0.108307 -0.243726 -0.016625 -0.155186 -0.312221
3 -0.397014 -0.798112  1.618230  0.576076 -3.611919
4 -0.313720  1.936714 -2.125446  0.123949 -2.509681