In [82]:
import pandas as pd
import numpy as np


df1 = pd.DataFrame([ [1,1,1,1,1,1],[1,2,1,1,1,1],[1,1,2,1,1,1],[1,2,2,2,1,1],[1,2,3,4,5,1]]).T
df2 = pd.DataFrame([ [1,1,1,2,3,4],[1,1,1,1,1,1],[1,1,1,1,1,1],[1,1,1,1,1,1],[1,1,1,4,5,1]]).T

In [83]:
df1=pd.DataFrame(np.random.randn(5,5))
df2=pd.DataFrame(np.random.randn(5,5))

In [84]:
df1

          0         1         2         3         4
0  1.218072 -0.487065 -2.296952  1.955753 -0.031819
1  0.422046  0.345023 -0.944188 -1.611702  1.484271
2  1.338246  0.968849 -0.026825  0.613667 -0.892233
3  0.024258 -0.411501  1.853860 -0.624019 -2.622026
4  2.035790 -0.407129  0.764743  1.174182 -0.363621

In [85]:
df2

          0         1         2         3         4
0 -1.065369 -0.654232  1.433920  0.851204 -1.596413
1 -1.683063  0.373868 -1.266215  0.997161 -0.394722
2 -0.631253 -2.310275  0.618379 -0.599525 -1.219985
3  0.295406 -1.745528  0.960063 -0.097202 -1.411501
4  0.076767 -0.664921  0.306134 -1.241043 -1.190314

In [86]:
df3 = df1.rolling(window=5).corr(df2,pairwise=False)

In [87]:
df3

          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN
4  0.132035 -0.296561  0.025402 -0.309719  0.684105

In [89]:
df1[0].corr(df2[0])

0.13203477789506565

In [73]:
for i,df in df3.iteritems():
    print df

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: 0, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: 1, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: 2, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: 3, dtype: float64
0         NaN
1         NaN
2         NaN
3    0.866025
4    0.960769
5    1.000000
Name: 4, dtype: float64

AttributeError: 'module' object has no attribute 'nan_rank'